.example-spacer{
    flex:1 1 auto;
}
.mat-icon-button {
    margin-left: 15px;
}

.form-control.ng-touched.ng-invalid {
  border:1px solid red;
 }
 
 
.alert{
    color: red;
}
.form-control.ng-touched.ng-valid{
  border: 1px solid green;
  width: 300px important!;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  /* 
  td, th {
    width: 25%;
  } */
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }