.form-control.ng-touched.ng-invalid {
    border:1px solid red;
   }
   
   
  .alert{
      color: red;
  }
  .form-control.ng-touched.ng-valid{
    border: 1px solid green;
    width: 300px important!;
  }
  .mat-raised-button:not([class*=mat-elevation-z]) {
   
    margin-right: 10px;
}